body{
    font-family: monospace;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 25px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

button{
    background-color: greenyellow;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 150px;
    font-weight: bold;
    transition: all 300ms;
}

button:hover{
    background-color: #333;
    color: greenyellow;
    border: 2px solid greenyellow;
    cursor: pointer;
}

.break{
    flex-basis: 100%;
    height: 0;
}

.logo{
    color: greenyellow;
    font-size: 24px;
}

.header{
    display: flex;
    margin-bottom: auto;
    background-color: #333;
    box-shadow: 0px 0px 5px black;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.main{
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 52px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    width: 100%;
    gap: 20px;
    height: 500px;
}

.info{
    max-width: 500px;
    font-size: 18px;
}

.info h1{
    font-size: 48px;
    font-weight: bold;
}

.title img{
    width: 300px;
}

.me{
    text-align: center;
    justify-content: center;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    gap: 52px;
    width: 100%;
    height: 500px;
    background-color: #333;
    color: greenyellow;
    padding: 30px;
    box-shadow: 0px 0px 5px black;
}

.me-title{
    font-size: 36px;
    font-weight: bold; 
    margin-bottom: 0px;   
}

.workers{
    width: 200px;
    flex-direction: column;
    gap: 10px;
}

.workers img{
    width: 200px;
}

.quote{
    font-size: 36px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advice{
    background-color: #333;
    color: greenyellow;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 52px;
}

.ad-text{
    max-width: 300px;
}

.ad-text div{
    font-weight: bold;
    font-size: 16px;
}

.footer{
    background-color: #333;
    color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 20px;
    margin-top: auto;
}